<div id="services">
<p style=" font: 19px 'GOST type A',Verdana,Geneva,sans-serif;  text-transform: uppercase; padding-bottom: 10px;">Услуги <%= image_tag "pic.png", :style => "position: relative; top: 5px; left: -8px;" %> </p>
<%= image_tag "site_services.png" %>
<div style="padding: 20px 0px;">
<p>САЙТ - ВИЗИТКА  ОТ 6.000 РУБ.</p>
<p>САЙТ - КАТАЛОГ  ОТ 10.000 РУБ.</p>
<p>ИНТЕРНЕТ - МАГАЗИН 20.000 РУБ.</p>
<p>ФЛЕШ - САЙТ ОТ 15.000 РУБ.</p>
<p>ОБСЛУЖИВАНИЕ САЙТА  ОТ 02.000 РУБ.</p>
</div>
<%= image_tag "catalog_services.png" %>
<div style="padding: 20px 0px;">
<p>КАТАЛОГ (АНИМИРОВАННЫЙ)  ОТ 15.000 РУБ.</p>
<p>ПЕРЕЗЕНТАЦИЯ   ОТ 10.000 РУБ.</p>
<p>ПОРТФОЛИО   ОТ 5.000 РУБ.</p>
<p>КАТАЛОГ: МЕНЮ, ССЫЛКИ, ФОТО И ВИДЕО   ОТ 5.000 РУБ.</p>
</div>
<%= image_tag "other_services.png" %>
<div style="padding: 20px 0px;">
<p>ВИДЕО РОЛИК  ОТ 6.000 РУБ.</p>
<p>3D АНИМАЦИЯ  ОТ 8.000 РУБ.</p>
<p>2D АНИМАЦИОННЫЙ РОЛИК  ОТ 3.000 РУБ.</p>
<p>ПРЕЗЕНТАЦИИ ДЛЯ ВЫСТАВОК ОТ 8.000 РУБ.</p>
<p>ПЕРЕВОД САЙТА ИЛИ КАТАЛОГА НА/С АНГЛИЙСКИЙ  ОТ 3.000 РУБ.</p>
<p>УСЛУГИ КОПИРАЙТЕРА  ОТ 5.000 РУБ.</p>
<p>ФОТО И ВИДЕО УСЛУГИ  ОТ 3.000 РУБ.</p>
</div>
<%= image_tag "logo_services.png", :style => "left: 570px; position: absolute; top: 285px;" %>
</div>