<% i=1 %> 
<div class="group_gallery" style=" height: 280px;">
<div style="vertical-align: bottom;position:relative; height: 235px; ">
  <% if admin_signed_in? %>
    <%= link_to (image_tag(product.avatar.url(:thumb), :style => "width: 233px; height: 207px; position: absolute; top: 12px; left: 14px;")), product %>
    <%= link_to image_tag("ramka.png", :style => "position: relative;"), portfolio_path(:current_product => product) %>
  <% else %>
  <%= link_to image_tag(product.avatar.url(:thumb), :class => "products_click", :style => "width: 233px; height: 207px; position: absolute; top: 12px; left: 14px;"), product %>
  <%= link_to image_tag("ramka.png", :style => "position: relative;"), portfolio_path %>
  
  <% end %>
</div>
  <div style=" height: 45px; width: 250px; margin-left: 5px;"> 
    <p style="color: #333333; font-size: 18px;"><%= product.title %></p>
    <p><%= product.short_description %></p>
      <% if admin_signed_in? %>
        <%= link_to 'Удалить', product, 
          :confirm => 'Вы уверены?',
          :method => :delete %>
      <% end %>
    
    </div>
<% if i> 3 %>
   <div style="clear: left; padding-bottom: 35px;"></div>
   <% i=0 %>
   <% end %>
   <% i+= 1 %>
</div>			
		
		