<%= render :partial => "page_products" %>
<div id="show_products">

  <%= image_tag(@product.avatar.url(:thumb), :alt => @product.title, :class => "round") %>
  <div style="float: left; left: 10px; position: relative; top: 15px; width: 310px;">
    <p><%= @product.title %></p>
  </div>
</div>
  </div>
</div>
<% if admin_signed_in? %>
<%= link_to 'Редактировать', edit_product_path(@product) %> 
<%= link_to 'Назад', products_path %>
  
<% end %>
